<div class="card">
  <div class="card-img-top">
    <img src="{{images.sm}}" alt="{{name}}" style="width:160px;height:240px">
  </div>
  <div class="card-body">
    <h2 class="card-title">Имя: {{biography.fullName}}</h2>

    <p class="card-text"><b>Умения</b></p>
    <ul class="list-group">
    {{#each abilities}}
      <li class="list-group-item">{{ability.name}}</li>
    {{/each}}
    </ul>
  </div>
</div>