<div class="card">
    <div class="card-body">
    <h2 class="card-title">{{first_name}} {{last_name}}</h2>
    <p>
        Position: {{position}}
        Team: {{team.full_name}}
    </p>
  </div>
</div>