<div class="block">
  <form class="form-inline search-form js-search-form" data-id="1">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Search Hero"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div
    class="hero-container fb js-hero-container"
    style="justify-content: start"
  >
    <div class="hero-card card">
      <div class="image-container">
        <img
          src="https://cdn.rawgit.com/akabab/superhero-api/0.2.0/api/images/lg/620-spider-man.jpg"
          alt="#"
          class="hero-image"
        />
      </div>
      <div class="hero-body">
        <h4 class="hero-name">Peter Parker</h4>
        <p class="hero-bio">
          Spider-Man - Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Vero, sed facilis, necessitatibus at neque cum deserunt maxime quos
          laudantium doloremque nesciunt ea voluptates! Atque fugiat assumenda
          incidunt laborum quas a!
        </p>
      </div>
    </div>
  </div>
</div>
